<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
          class="list-group-item"
          [ngClass]="{odd: item%2 !==0}"
          [ngStyle]="{backgroundColor : item %2 !== 0 ? 'yellow' : 'transparent'}"
          *ngFor="let item of oddNumbers">
          {{item}}
        </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
          class="list-group-item"
          [ngClass]="{odd: item%2 !==0}"
          *ngFor="let item of evenNumbers">
          {{item}}
        </li>
        </div>
      </ul>
      <p appBasicHighight>style me</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">style me better!</p>
    </div>
  </div>
</div>
